body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-size: 1em;
	background: 
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#A8B1BB 1px, transparent 1px) 0 0,
linear-gradient(90deg, #A8B1BB 1px, transparent 1px) 0 0;
background-color: slategray;
background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

#main {
}

#cust_line {
	position: absolute;
	width: 100%;
	bottom: 22%;
}

.customer {
	display: inline-block;
	position: relative;
	width: 20%;
	text-align: center;
	cursor: pointer;
}

.order_box {
	position: absolute;
	background: #eee;
	border-radius: .5em;
	width: 60%;
	height: 10em;
	top: -11em;
	left: 20%;
}

.order_box:before {
	position: absolute;
    left: calc(50% - .75em);
    bottom: -.75em;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #eee transparent;
    border-width: .75em .75em 0;
    content: "";
    display: block;
}

.order_box span {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	background: no-repeat center;
	background-size: 15%
}

.table {
	display: table;
	width: 100%;
	background: #5E3914;
	position: absolute;
	bottom: 0;
	height: 25%;
}